@import './variables.less';

::-webkit-scrollbar {
  width: 8px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(../assets/fonts/Gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: local("Gilroy"),
    url(../assets/fonts/Gilroy/Gilroy-Bold.ttf) format("truetype");
}

.ant-progress-circle-path {
  stroke: #13ECAB !important
}

::-webkit-scrollbar-thumb {
  background: #f1f1f2;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

body {
  font-family: Gilroy, sans-serif !important;
}

.stdEmptyGradientButton {
  background: @gradient-color-icon;
  background-origin: border-box;
  border: 2px solid rgba(255, 255, 255, 0.14);
  border-radius: 8px;
  display: inline-block;
  width: auto;
  margin: 0 auto;

  button {
    background: @color-bg !important;
    padding: 9px 30px;
    display: block;
    height: 51px;
    line-height: unset;
    color: #fff;
    border-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.05em;
  }
}

.stdGradientButton {
  background: @gradient-color-icon;
  background-origin: border-box;
  border: 2px solid rgba(255, 255, 255, 0.14);
  border-radius: 8px;
  display: inline-block;
  width: auto;
  margin: 0 auto;

  button {
    background: unset !important;
    padding: 9px 30px;
    display: block;
    height: 51px;
    line-height: unset;
    color: #fff;
    border-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.05em;
  }
}

.container {
  margin: 0 auto;
  padding: 24px;
  min-width: @mobile-xs-width;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.ant-progress {
  background: @color-bg !important;
}

.flex {
  display: flex;
}

.farm .btncontainer {
  position: relative
}

@media @max-sm-mobile {
  .farm .btncontainer {
    display: none !important
  }
}

a {
  color: #13ECAB;
}

// .ant-menu-horizontal>.ant-menu-submenu {
//   @media @max-sm-mobile {
//     display: none !important;
//   }
// }

// .ant-menu-horizontal>.ant-menu-item {
//   @media @max-sm-mobile {
//     display: block !important
//   }
// }

.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: white !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #13ECAB !important;
}


.fc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-head {
  position: relative;

  .title {
    font-size: 35px;
    font-weight: 700;

    @media @max-sm-mobile {
      font-size: 40px;
    }
  }

  .buttons {
    display: flex;
    vertical-align: middle;
    padding-right: 15px;
    z-index: 2;
    position: relative;


    .anticon {
      font-size: 20px;
    }

    .ant-progress {
      line-height: 1;
      position: relative;
      top: 1px;
    }

    .ant-progress.disabled {
      cursor: not-allowed;
    }

    .anticon,
    .ant-progress {
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: @color-bg;
      }
    }

    a {
      color: @text-color;
    }
  }
}

.card {
  .card-body {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 12px;
    padding: 37px;
    background-color: @color-bg;
    opacity: 1;
    border-radius: 0;
    margin: 0 auto !important;

    >.fs-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }

    .buttons {
      display: inline-block;
      line-height: 32px;

      i {
        font-size: 20px;
        margin-right: 14px;
        position: relative;
        top: 4px;
        color: #13ECAB
      }
    }
  }
}

.lp-icons {
  display: inline-block;
  align-items: center;

  .icons {
    display: flex;
    flex-direction: row;

    img {
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
  }
}

.ant-layout-header,
.ant-layout-footer {
  padding: 24px 64px !important;

  @media @max-lg-tablet {
    padding: 24px 32px !important;
  }

  @media @max-sm-mobile {
    padding: 24px 20px !important;
  }
}

.ant-menu-horizontal,
.ant-layout-header,
.ant-layout-footer {
  background: @color-bg !important;
}

.nofooter .ant-modal-footer {
  display: none !important
}

.ant-menu-horizontal>.ant-menu-item>a:hover {
  color: #13ECAB !important
}

.ant-pagination-item,
.ant-pagination-item-link {
  background: transparent !important;
}

.coin-input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  margin: 9px;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}

.ant-btn:hover,
.ant-btn:focus,
.coin-select .coin-input .input-button {
  color: #13ECAB !important;
}

.ant-modal-body .stdGradientButton {
  height: unset;
  margin: 0 auto;
}

@media @max-sm-mobile {
  .card .card-body {
    padding: unset;
  }

  .coin-select .label {
    font-size: 14px !important;
  }

  .ant-modal-body .stdGradientButton {
    height: unset;
    margin: 0 auto;
  }
}

// Defined by Lionel

// font-size
.displayL {
  font-size: 76px;
  line-height: 91.2px;

  @media @max-sm-mobile {
    font-size: 49px;
    line-height: 58.8px
  }
}

.displayM {
  font-size: 61px;
  line-height: 73.2px;

  @media @max-sm-mobile {
    font-size: 49px;
    line-height: 58.8px
  }
}

h1 {
  font-size: 49px;
  line-height: 58.8px;
  margin-bottom: 0 !important;

  @media @max-sm-mobile {
    font-size: 39px;
    line-height: 46.6px;
  }
}

h2 {
  font-size: 39px;
  line-height: 46.6px;
  margin-bottom: 0 !important;

  @media @max-sm-mobile {
    font-size: 31px;
    line-height: 37.2px;
  }
}

h3 {
  font-size: 31px;
  line-height: 37.2px;
  letter-spacing: -0.15px;
  margin-bottom: 0 !important;

  @media @max-sm-mobile {
    font-size: 25px;
    line-height: 35px;
  }
}

h4 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 0 !important;

  @media @max-sm-mobile {
    font-size: 20px !important;
    line-height: 30px !important;
  }
}

p {
  margin-bottom: 0 !important;
}

.bodyL {
  font-size: 20px !important;
  line-height: 30px !important;

  @media @max-sm-mobile {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}

.bodyM {
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.15px;
  
  @media @max-sm-mobile {
    font-size: 13px !important;
    line-height: 19.5px !important;
  }
}

.bodyS {
  font-size: 13px !important;
  line-height: 19.5px !important;
  letter-spacing: -0.5px !important;
}

.bodyXS {
  font-size: 11px !important;
  line-height: 16.5px !important;
  letter-spacing: -0.5px !important;
}

// font-weight
.weightB {
  font-weight: bold !important;
}

.weightS {
  font-weight: 600 !important;
}

.weightR {
  font-weight: 400 !important;
}

.weightL {
  font-weight: 300 !important;
}

// text-position
.text-center {
  text-align: center;
}

// ant-modal
.ant-modal {
  width: 800px;

  @media @max-sm-mobile {
    width: calc(100% - 40px) !important;
  }
  
  .ant-modal-content {
    background-color: @color-modal-dark;
    padding: 15px;
    border-radius: 5px;

    .ant-modal-close .ant-modal-close-x .anticon{
      color: #fff;
      font-size: 20px;
    }

    .ant-modal-header {
      background-color: @color-modal-dark;
      display: flex;
      justify-content: space-between;
      padding: 0;
      border-bottom: 0;

      .ant-modal-title {
        width: 100%;
        background-color: @color-modal-dark;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
      }
    }

    .ant-modal-body {
      padding: 30px 0 0 0;
    }
      
    .card-body {
      background-color: unset !important;
      padding: unset !important
    }
  }
}

// ant-tooltip
.ant-tooltip {
  .ant-tooltip-inner {
    display: inline-block;
    background: @gradient-color-primary !important;
    background-origin: border-box !important;
    border: 2px solid rgba(255, 255, 255, 0.14);
    box-shadow: 18px 11px 14px rgba(0, 0, 0, 0.25) !important;
    border-radius: 8px !important;
    padding: 12px !important;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    min-width: 187px !important;
  
    @media @max-sm-mobile {
      max-width: 300px !important;
    }
  
    span {
      font-weight: 600;
    }
  
    hr {
      border: 1px solid rgba(255,255,255,0.2);
    }
  
    .tooltip-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      line-height: 20px;
    }
  
    .tooltip-text {
      font-size: 15px;
      line-height: 18px;
      color: #fff;
    }
  
    p {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: @text-color;
    }
  
    .swap-info {
      font-size: 12px;
      line-height: 20px;
      color: @text-color;
  
      .info {
        display: grid;
        justify-content: space-between;
        align-items: center;
        padding: 4px 0;
        gap: 10px;
        grid-template-columns: minmax(auto, 1fr) auto auto;
  
        .symbol {
          opacity: 0.75;
        }
  
        .address {
          padding: 2px 4px;
          background: @bg-color;
          border-radius: 4px;
          opacity: 0.75;
        }
  
        .action {
          font-size: 16px;
  
          i {
            cursor: pointer;
  
            &:hover {
              color: #13ECAB !important;
            }
          }
  
          a {
            color: @text-color;
          }
        }
      }
    }
  }
}